# Since .env is gitignored, you can use .env.example to build a new `.env` file when you clone the repo.
# Keep this file up-to-date when you add new variables to \`.env\`.

# This file will be committed to version control, so make sure not to have any secrets in it.
# If you are cloning this repo, create a copy of this file named `.env` and populate it with your secrets.

# The database URL is used to connect to your Supabase database.
POSTGRES_URL="postgres://postgres.[USERNAME]:[PASSWORD]@aws-0-eu-central-1.pooler.supabase.com:6543/postgres?workaround=supabase-pooler.vercel"


# You can generate the secret via 'openssl rand -base64 32' on Unix
# @see https://next-auth.js.org/configuration/options#secret
AUTH_SECRET='supersecret'


# In case you're using the Auth Proxy (apps/auth-proxy)
# AUTH_REDIRECT_PROXY_URL='https://auth.your-server.com/r'



INNGEST_EVENT_KEY=""                                                                                                                                                    
INNGEST_SIGNING_KEY=""  

# E2B
E2B_API_KEY=""

# DAYTONA
DAYTONA_API_KEY=""

# ANTHROPIC
ANTHROPIC_API_KEY=""

# Gemini
GEMINI_API_KEY=""

OPENAI_API_KEY=""

# Pusher (Real-time streaming)
PUSHER_APP_ID=""
PUSHER_SECRET=""
NEXT_PUBLIC_PUSHER_KEY=""
NEXT_PUBLIC_PUSHER_CLUSTER="us2"



# Langchain 
LANGCHAIN_TRACING_V2=true
LANGCHAIN_ENDPOINT="https://api.smith.langchain.com"
LANGCHAIN_API_KEY=""
LANGCHAIN_PROJECT="vibecoding"
LANGCHAIN_CALLBACKS_BACKGROUND=true


TAVILY_API_KEY=""

MOONSHOT_API_KEY=""

# Default model provider (anthropic, openai, google, moonshot, ollama)
MODEL_PROVIDER="ollama"